.Content {
  display: flex;
  flex-direction: row;
  @media(max-width: $device-pixel) {
    flex-direction: column-reverse;
  }
  @media(min-width: $large-device) {
    margin: 0 100px;
  }
}