@import './vars';

body {
  margin: 0;
}
.app {
  font-family: sans-serif;
  text-align: center;
}

@import "./Components/Header/Header";
@import "./Components/Content/Content";
@import "./Components/Cards/Cards";
@import "./Components/Buttons/Buttons";
@import "./Components/Footer/Footer";