@import './vars';

body {
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

@import "./Components/Header/Header";
@import "./Components/Content/Content";
@import "./Components/Numbers/Numbers";
@import "./Components/Buttons/Buttons";