$device-pixel: 650px;
$device-tablet-pixel: 850px;
$large-device: 1200px;
$white: #FFFFFF;
$black: #000000;
$button-back-color: #72C3DC;
$button-secondary-color: #2B8EAD;
$button-active-color: #1f657a;
$card-color-1: #6F98A8;
$card-color-2: #2B8EAD;
$card-color-3: #2F454E;
$card-color-4: #BFBFBF;
$card-mobile-color: #EFEFEF;


